name: FP Build and Push Tagged Image

on:
  push:
    tags:
      - '**'           # Push events to every tag including hierarchical tags like v1.0/beta

jobs:
  build_and_push:
    runs-on: ubuntu-22.04
    name: Build and push with tag name
    steps:
      - uses: actions/checkout@v4

      - name: Extract Tag Name
        id: extract_tag
        run: |
          echo "TAG_NAME=$(echo ${{ github.ref }} | cut -d'/' -f3)" >> $GITHUB_ENV

      - name: Set up packages
        run: sudo apt-get install -y docker-compose
  
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'
          
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Derive spilo image name
        id: image
        working-directory: postgres-appliance
        run: |
          PGVERSION=$(sed -n 's/^ARG PGVERSION=\([0-9][0-9]*\).*$/\1/p' Dockerfile)
          IMAGE="${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}-$PGVERSION:${TAG_NAME}"
          echo "NAME=$IMAGE" >> "$GITHUB_OUTPUT"
          
      - name: Build and push (linux/amd64)
        uses: docker/build-push-action@v6
        with:
          context: postgres-appliance/
          push: true
          tags: ${{ steps.image.outputs.NAME }}
          platforms: linux/amd64
